* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  transition: 0.1s;
  color: white;
  transition: 0.1s;
}

:root {
  --nav-bg: #292929;
  --content-bg: #353535;
}

#content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--content-bg);
  height: calc(100vh - 40px);
}

nav {
  width: 100%;
  height: 60px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: var(--nav-bg);
}

nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav button:hover {
  opacity: 0.7;
}

#nav-logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: lowercase;
}

a {
  text-decoration: none;
}

#settings-container {
  width: 100%;
  height: 20%;
  display: flex;
  background-color: green;
  padding: 40px;
}

#game-container {
  display: flex;
  width: 100%;
  height: 80%;
}

#game-container > div {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px;
}

#player1-container {
  background-color: red;
}

.gameboard {
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex-basis: calc(100% / 10);
  border: 1px solid gray;
  background-color: white;
}

#player2-container {
  background-color: blue;
}

#player2-grid {
  background-color: pink;
}

footer {
  height: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

footer svg {
  width: 30px;
  display: flex;
  fill: white;
  cursor: pointer;
}
